.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #1F1959;
  /* height: 150px; */
  padding: 20px;
  color: white;
}

#container{
  display: -webkit-inline-box;
  padding: 20px;


}
#container2{
  position: relative;
  bottom: 145px;


}

#frontendCircle{
  width: fit-content;
  position: relative;
  left: 40px;
}

#backendCircle{
  width: fit-content;
  position: relative;
  right: 20px;
}

#musicCircle{
  width: fit-content;
  display: inline-block;
  position: relative;
  left: 40px;
}

#voipCircle{
  width: fit-content;
  display: inline-block;
  position: relative;
  right: 20px;

}

circle {
    opacity: 0.75;
}

h2 {
    position: relative;
    bottom: 180px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
